roncontainer{
}

rontitle{
 color: White;
 background-color: rgba(153, 204, 255, 0.3);
 border-radius: 1px;
 text-align: center;
 font-size: 2em;
 page-break-after: always;
 page-break-before: always;
 border-color: White;
 border-width: 4px;
 border-style: double;
 display: block;
}

.rontitlediv{
	
}

.ronlinks{
	border-color: White;
	border-width: 4px;
	border-radius: 1px;
	border-style: double;
}

.ronmaintext{
	border-color: White;
	border-width: 4px;
	border-radius: 1px;
	border-style: double;
}

a{
	color: Blue;
}

rontext{
 color: White;
 background-color: rgba(153, 204, 255, 0.3);
 border-radius: 20px;
 text-align: left;
 font-size: 1.1em;
 text-indent: 40px;
 page-break-after: always;
 page-break-before: always;
 display: block;
}